{% extends 'blog/base.html' %}
{% block content %}
<article class="post">
    <aside class="aside-btns">
        {% if user.is_authenticated %}
        <a class="btn btn-secondary" href="{% url 'post_edit' pk=post.pk %}">
            {% include './icons/pencil-fill.svg' %}
        </a>
        {% if not post.published_date %}
        <form method="POST" action="{% url 'post_publish' pk=post.pk %}" class="inline-form">
            {% csrf_token %}
            <button type="submit" class="btn btn-secondary" name="publish">
                Publish
            </button>
        </form>
        {% endif %}
        <form method="POST" action="{% url 'post_remove' pk=post.pk %}" class="inline-form del-form">
            {% csrf_token %}
            <button type="submit" class="btn btn-secondary del-btn" name="delete">
                {% include './icons/trash.svg' %}
            </button>
        </form>
        {% endif %}
    </aside>
    {% if post.published_date %}
    <div class="date">
        {{ post.published_date }}
    </div>
    {% endif %}
    <h2>{{ post.title }}</h2>
    <p>{{ post.text | linebreaksbr }}</p>
</article>
{% endblock %}
